/*-------------------
    RESET
--------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------------------
    GENERAL
--------------------*/
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Roboto", sans-serif;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
}

/*-------------------
    HEADER
--------------------*/
header {
    position: sticky;
    background-color: #FC6900;
    max-height: 70px;
    border-bottom: 1px solid grey;
    top: 0px;
    left: 0px;
    z-index: 10;
}

.header-details {
    color: white;
}

header > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}

.main-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.main-nav ul a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.logo > img {
    max-height: 26px;
    height: auto;
}

/*-------------------
    MAIN
--------------------*/
.row {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.row2 {
    margin-bottom: 60px;
}

.col {
    width: calc(100% / 3);
    position: relative;
}

.product-img img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.product-img:hover .img-hover {
    display: block;
}
.product-img:hover .img-original {
    display: none;
}

.product-img .img-hover {
    display: none;
}

.discount {
    background-color: red;
    position: absolute;
    top: 490px;
    left: 0px;
    padding: 5px;
    color: white;
}

.sostenibilita {
    background-color: green;
    position: absolute;
    padding: 5px;
    color: white;
    top: 490px;
}

.s1 {
    left: 48px;
}

.heart {
    position: absolute;
    background-color: white;
    top: 10px;
    right: 0px;
    height: 50px;
    width: 50px;
    font-size: 24px;
    text-align: center;
    line-height: 50px;
}

.heart:hover{
    color: red;
}

.price {
    display: flex;
    gap: 5px
}

.sale-price {
    color: red;
}

/*-------------------
    FOOTER
--------------------*/
footer {
    background-color: black;
    max-height: 100px;
}

.footer-details {
    color: white;
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 6px;
}

.foot-nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    gap: 7px;
    padding-bottom: 25px;
}

.foot-nav ul a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

h2 {
    font-size: 14px;
    padding-top: 20px; 
}